<!DOCTYPE html>
<html lang="en">
  <!-- START OF HEAD AREA -->

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>I-Tube</title>
    <style>
      .upload-link {
        position: absolute;
        top: 10px;
        right: 10px;
      }
    </style>

    <!-- PAGE META DATA -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- ICON-REFERENCES -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <!-- FONT-REFERENCES -->
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
    </style>
    <!-- STYLE/CSS-REFERENCES -->
    <link rel="stylesheet" href="./static/css/style-for-page-pre-loader.css" />
    <link rel="stylesheet" href="./static/css/style.css" />
    <link rel="stylesheet" href="./static/css/style-for-video-player.css" />
    <link rel="stylesheet" href="./static/css/style-for-short-video-sec.css" />
    <link rel="stylesheet" href="./static/css/Style-for-following-page.css" />
    <link
      rel="stylesheet"
      href="./static/css/style-for-your-channel-page.css"
    />
    <link rel="stylesheet" href="./static/css/style-for-history-page.css" />
    <link rel="stylesheet" href="./static/css/style-1600-1800.css" />
    <link rel="stylesheet" href="./static/css/style-1280-1600.css" />
    <link rel="stylesheet" href="./static/css/style-custom-scrollbar.css" />
    <!-- PAGE TITLE -->
    <title>I-Tube</title>
  </head>
  <!-- END OF HEAD AREA -->
  <!-- START OF BODY AREA -->

  <body onload="preLoader()">
    <!-- top header area -->
    <header class="top-header">
      <!-- nav bar -->
      <nav class="nav-bar">
        <!-- left nav bar -->
        <div class="left-nav">
          <span class="menu-icon" onclick="openSideBar()"
            ><i class="ri-menu-line"></i
          ></span>
          <span class="nav-logo switch-to-home" onclick="gotoHomePage()">
            <h1 style="font-size: inherit">I-Tube</h1>
          </span>
        </div>
        <!-- central-nav bar -->
        <div class="central-nav">
          <form action="sign-in.html" method="get">
            <input
              type="search"
              name="nav-search"
              id="nav-search"
              placeholder="Search"
            />
            <button type="submit"><i class="bx bx-search-alt-2"></i></button>
          </form>
        </div>
        <!-- right nav bar -->
        <div class="right-nav">
          <span class="dark-or-light" onclick="switchToLight()"
            ><i class="ri-sun-fill"></i
          ></span>
          <a href="signin" class="nav-sign-in" target="_blank">Sign In</a>
        </div>
      </nav>
    </header>
    <!-- main container -->
    <main class="main-container">
      <!-- side bar -->
      <aside class="side-bar">
        <!-- top part of the side bar -->
        <ul class="top-of-side-bar">
          <li>
            <a href="#" class="home switch-to-home" onclick="gotoHomePage()"
              ><i class="ri-home-4-fill"></i>&nbsp;&nbsp;&nbsp;Home</a
            >
          </li>
          <li>
            <a href="#" class="shorts" onclick="gotoShortVideoPlayer()"
              ><i class="ri-slideshow-3-fill"></i>&nbsp;&nbsp;&nbsp;Shorts</a
            >
          </li>
          <li>
            <a href="#" class="following" onclick="gotoFollowingPage()"
              ><i class="ri-user-follow-fill"></i>&nbsp;&nbsp;&nbsp;Following</a
            >
          </li>
        </ul>
        <!-- second part of the middle bar -->
        <ul class="middle-of-side-bar">
          <li>
            <a href="#" class="your-channel" onclick="goToYourChannel()"
              ><i class="ri-movie-fill"></i>&nbsp;&nbsp;&nbsp;Channel</a
            >
          </li>
          <li>
            <a href="#" class="history" onclick="goToWatchHistory()"
              ><i class="ri-history-line"></i>&nbsp;&nbsp;&nbsp;History</a
            >
          </li>
          <li>
            <a href="sign-in.html" class="dashboard" target="_blank"
              ><i class="ri-dashboard-fill"></i>&nbsp;&nbsp;&nbsp;Dashboard</a
            >
          </li>
        </ul>
      </aside>

      <!--start of content section -->
      <div class="content-section">
        <!-- pre loader page animation -->
        <div class="page-loading-animation">
          <span class="l-dot"></span>
          <span class="pre-loading"></span>
        </div>

        <!-- jinja for displaying with style, by-SR, 30/04/2024-->
        <ul style="list-style-type: none">
          {% for video in uploaded_videos %}
          <li style="display: inline-block; margin-left: 20px">
            <div class="video-container" style="margin-left: 5px">
              <video width="320" height="240" controls>
                <source
                  src="{{ url_for('video', video_id=video.filename) }}"
                  type="video/mp4"
                />
                Your browser does not support the video tag.
              </video>
            </div>
          </li>
          {% endfor %}
        </ul>

        <style>
          .video-container {
            width: 320px;
            height: 240px;
            overflow: hidden;
          }

          .video-container video {
            width: 100%;
            height: 100%;
          }
        </style>

        <!-- content categories -->
        <div class="content-categories">
          <!-- <a href="#" class="top-contents">
            Videos
          </a> -->
        </div>

        <!-- contents -->
        <div class="contents">
          <!-- l card start -->
          <!-- <div class="l-cards">
            <div class="video-area">
              <a href="#">
                <video
                  class="vid"
                  onclick="getSrcOfVideo(),gotoVideoPlayer()"
                  onmouseover="setTimeout(() => {
                     this.play();
                  }, 250);"
                  onmouseout="setTimeout(() => {
                    this.pause();
                    this.currentTime=0;
                    this.load();
                  }, 250);"
                  poster="./static/img/th1.jpg"
                  src="./assets/dr.mp4"
                  muted
                  loop
                  preload="none"
                ></video>
              </a>
            </div>
            <div class="video-meta">
              <a href="#" class="profile">
                <div
                  class="profile-pic"
                  style="
                    background: url(./static/img/a1.jpg);
                    background-size: cover;
                  "
                ></div>
              </a>
              <div class="text-info">
                <a href="#" class="title">
                  This is the title of this video. Lorem ipsum dolor sit amet
                  consectetur.This is the title of this video. Lorem ipsum dolor
                  sit amet consectetur.
                </a>
                <div class="views-and-dates">
                  <a href="#" class="channel-name"
                    >Channel Name tech tentacles</a
                  >
                  &nbsp;&nbsp;&nbsp;100K Views&nbsp;&nbsp;30 Days Ago
                </div>
              </div>
            </div>
          </div>  -->
          <!-- l card end -->
        </div>

        <!-- video player page-->
        <div class="video-player-page">
          <!-- main video player -->
          <div class="left-pac">
            <div class="video-container paused" data-volume-level="high">
              <img class="thumbnail-img" />
              <!-- video controls container -->
              <div class="video-controls-container">
                <!-- time line container -->
                <div class="timeline-container">
                  <div class="timeline">
                    <!-- <img class="preview-img"> -->
                    <div class="thumb-indicator"></div>
                  </div>
                </div>
                <!-- controls container start -->
                <div class="controls">
                  <!-- play pause button -->
                  <button class="play-pause-btn">
                    <svg class="play-icon" viewBox="0 0 24 24">
                      <path
                        fill="currentColor"
                        d="M8,5.14V19.14L19,12.14L8,5.14Z"
                      />
                    </svg>
                    <svg class="pause-icon" viewBox="0 0 24 24">
                      <path
                        fill="currentColor"
                        d="M14,19H18V5H14M6,19H10V5H6V19Z"
                      />
                    </svg>
                  </button>
                  <!-- volume controls container -->
                  <div class="volume-container">
                    <!-- mute button -->
                    <button class="mute-btn">
                      <svg class="volume-high-icon" viewBox="0 0 24 24">
                        <path
                          fill="currentColor"
                          d="M14,3.23V5.29C16.89,6.15 19,8.83 19,12C19,15.17 16.89,17.84 14,18.7V20.77C18,19.86 21,16.28 21,12C21,7.72 18,4.14 14,3.23M16.5,12C16.5,10.23 15.5,8.71 14,7.97V16C15.5,15.29 16.5,13.76 16.5,12M3,9V15H7L12,20V4L7,9H3Z"
                        />
                      </svg>
                      <svg class="volume-low-icon" viewBox="0 0 24 24">
                        <path
                          fill="currentColor"
                          d="M5,9V15H9L14,20V4L9,9M18.5,12C18.5,10.23 17.5,8.71 16,7.97V16C17.5,15.29 18.5,13.76 18.5,12Z"
                        />
                      </svg>
                      <svg class="volume-muted-icon" viewBox="0 0 24 24">
                        <path
                          fill="currentColor"
                          d="M12,4L9.91,6.09L12,8.18M4.27,3L3,4.27L7.73,9H3V15H7L12,20V13.27L16.25,17.53C15.58,18.04 14.83,18.46 14,18.7V20.77C15.38,20.45 16.63,19.82 17.68,18.96L19.73,21L21,19.73L12,10.73M19,12C19,12.94 18.8,13.82 18.46,14.64L19.97,16.15C20.62,14.91 21,13.5 21,12C21,7.72 18,4.14 14,3.23V5.29C16.89,6.15 19,8.83 19,12M16.5,12C16.5,10.23 15.5,8.71 14,7.97V10.18L16.45,12.63C16.5,12.43 16.5,12.21 16.5,12Z"
                        />
                      </svg>
                    </button>
                    <!-- volume -->
                    <input
                      class="volume-slider"
                      type="range"
                      min="0"
                      max="1"
                      step="any"
                      value="0.5"
                    />
                  </div>
                  <!-- duration container -->
                  <div class="duration-container">
                    <div class="current-time">0:00</div>
                    /
                    <div class="total-time"></div>
                  </div>
                  <!-- captions button -->
                  <button class="captions-btn">
                    <svg viewBox="0 0 24 24">
                      <path
                        fill="currentColor"
                        d="M18,11H16.5V10.5H14.5V13.5H16.5V13H18V14A1,1 0 0,1 17,15H14A1,1 0 0,1 13,14V10A1,1 0 0,1 14,9H17A1,1 0 0,1 18,10M11,11H9.5V10.5H7.5V13.5H9.5V13H11V14A1,1 0 0,1 10,15H7A1,1 0 0,1 6,14V10A1,1 0 0,1 7,9H10A1,1 0 0,1 11,10M19,4H5C3.89,4 3,4.89 3,6V18A2,2 0 0,0 5,20H19A2,2 0 0,0 21,18V6C21,4.89 20.1,4 19,4Z"
                      />
                    </svg>
                  </button>
                  <!-- speed button -->
                  <button class="speed-btn wide-btn">1x</button>
                  <button class="mini-player-btn">
                    <svg viewBox="0 0 24 24">
                      <path
                        fill="currentColor"
                        d="M21 3H3c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H3V5h18v14zm-10-7h9v6h-9z"
                      />
                    </svg>
                  </button>
                  <!-- theater button -->
                  <button class="theater-btn" onclick="TheaterModeOn()">
                    <svg class="tall" viewBox="0 0 24 24">
                      <path
                        fill="currentColor"
                        d="M19 6H5c-1.1 0-2 .9-2 2v8c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm0 10H5V8h14v8z"
                      />
                    </svg>
                    <svg class="wide" viewBox="0 0 24 24">
                      <path
                        fill="currentColor"
                        d="M19 7H5c-1.1 0-2 .9-2 2v6c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V9c0-1.1-.9-2-2-2zm0 8H5V9h14v6z"
                      />
                    </svg>
                  </button>
                  <!-- full screen button -->
                  <button class="full-screen-btn">
                    <svg class="open" viewBox="0 0 24 24">
                      <path
                        fill="currentColor"
                        d="M7 14H5v5h5v-2H7v-3zm-2-4h2V7h3V5H5v5zm12 7h-3v2h5v-5h-2v3zM14 5v2h3v3h2V5h-5z"
                      />
                    </svg>
                    <svg class="close" viewBox="0 0 24 24">
                      <path
                        fill="currentColor"
                        d="M5 16h3v3h2v-5H5v2zm3-8H5v2h5V5H8v3zm6 11h2v-3h3v-2h-5v5zm2-11V5h-2v5h5V8h-3z"
                      />
                    </svg>
                  </button>
                </div>
                <!-- controls container end -->
              </div>
              <!-- player video -->
              <video src="" preload="none" poster="">
                <track
                  kind="captions"
                  srclang="en"
                  src="./assets/subtitles.vtt"
                />
              </video>
            </div>
            <!-- ///// thing container//// -->
            <div class="thing-container">
              <!-- 1 -->
              <div class="playing-video-title">
                This is the title of this video. Lorem ipsum dolor sit amet
                consectetur.This is the title of this video.
              </div>
              <!-- 1 -->.
              <div class="playing-video-info">
                <!-- 2 -->
                <div class="left-playing-video-info">
                  <a href="#" class="profile">
                    <div
                      class="profile-pic"
                      style="
                        background: url(./static/img/a1.jpg);
                        background-size: cover;
                      "
                    ></div>
                  </a>
                  <!-- 3 -->
                  <div class="c-name-and-follow">
                    <a href="#" class="channel-name"
                      >Channel Name tech tentacles</a
                    >
                    100K Followers
                  </div>
                  <!-- 3 -->
                  <button type="submit" class="follow-btn"></button>
                </div>
                <!-- 2 -->
                <div class="right-playing-video-info">
                  <!-- like-dislike 3-->
                  <div class="like-dislike">
                    <!-- ?like -->
                    <a href="#" class="like"
                      ><i class="ri-thumb-up-line"></i>&nbsp;&nbsp;50K</a
                    >
                    <!-- ?dislike -->
                    <a href="#" class="dislike"
                      ><i class="ri-thumb-down-line"></i>&nbsp;&nbsp;25K</a
                    >
                  </div>
                  <!-- share button -->
                  <div class="video-share-btn">
                    <a href="#" class="share"
                      ><i class="ri-share-fill"></i>&nbsp;&nbsp;Share</a
                    >
                  </div>
                  <div class="video-download-btn">
                    <a href="#" class="download"
                      ><i class="ri-download-fill"></i>&nbsp;&nbsp;Download</a
                    >
                  </div>
                </div>
              </div>
              <div class="playing-video-description">
                <span class="des-viwes-and-date"
                  >1575K&nbsp;&nbsp;Views&nbsp;&nbsp;&nbsp;30&nbsp;Days&nbsp;ago</span
                >
              </div>
              <div class="comments-section-area"></div>
            </div>
          </div>
          <!-- //// suggested-videos ///// -->
          <div class="suggested-videos"></div>
          <!-- ///////// -->
        </div>
        <!-- short video section -->
        <div class="short-video-section">
          <!-- short video card -->
          <!-- <div class="short-video-card">
            <video
              class="short-video-player"
              src="./public/videos/lufy2.mp4"
              autoplay="false"
              preload="none"
              loop
              muted
            ></video>
            <i class="ri-volume-mute-fill"></i>
            <i class="ri-play-fill" id="sv-play-pause-btn"></i>
            <div class="short-video-info">
              <a href="#">
                <div
                  class="short-video-profile"
                  style="
                    background: url(./static/img/a1.jpg);
                    background-size: cover;
                  "
                ></div>
                &nbsp;&nbsp;Channel Name</a
              >
              <div class="short-video-title">
                This is the Title of this video. Lorem ipsum dolor sit amet.
              </div>
            </div>
            <ul class="short-video-like-dislike-share">
              <li class="short-video-like">
                <i class="ri-thumb-up-line"></i>50K
              </li>
              <li class="short-video-dislike">
                <i class="ri-thumb-down-line"></i>50K
              </li>
              <li class="short-video-share">
                <i class="ri-share-fill"></i>Share
              </li>
            </ul>
          </div> -->
          <!-- short video card -->
        </div>
        <!-- following page -->
        <div class="following-page">
          <!-- following channels -->
          <div class="following-channels">
            <!-- following-channel-profile-card -->
            <!-- <div class="following-channel-profile-card">
              <a href="#">
                <div
                  class="following-channel-profile-pic"
                  style="
                    background: url(./static/img/a1.jpg);
                    background-size: cover;
                  "
                ></div>
                &nbsp;&nbsp;Channel Name</a
              >
            </div> -->
            <!-- following-channel-profile-card -->
          </div>
          <!-- following channel contents -->
          <div class="following-channel-contents">
            <!-- following page banner and banner profile -->
            <div class="following-channel-bannar-profile">
              <div
                class="following-page-banner"
                style="
                  background: url(./static/img/th1.jpg);
                  background-size: cover;
                "
              ></div>
              <!-- 1 -->
              <div class="following-page-main-profile-area">
                <!-- 2 -->
                <div
                  class="following-page-main-profile-pic"
                  style="
                    background: url(./static/img/th4.jpg);
                    background-size: cover;
                  "
                ></div>
                <!-- 2 -->
                <div class="following-page-main-channel-name">
                  Channel Name
                  <span
                    >90K&nbsp;&nbsp;Followers&nbsp;&nbsp;&nbsp;150&nbsp;&nbsp;Videos</span
                  >
                  <div class="following-page-main-btns">
                    <button
                      type="submit"
                      class="following-page-main-follow-btn"
                    >
                      Follow
                    </button>
                    <button type="button" class="following-page-main-share-btn">
                      Share
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Your Channel page  -->
        <div class="your-channel-page">
          <!-- your-channel channel contents -->
          <div class="your-channel-contents">
            <!-- your-channel page banner and banner profile -->
            <div class="your-channel-bannar-profile">
              <div
                class="your-channel-page-banner"
                style="
                  background: url(./static/img/th1.jpg);
                  background-size: cover;
                "
              ></div>
              <!-- 1 -->
              <div class="your-channel-page-main-profile-area">
                <!-- 2 -->
                <div
                  class="your-channel-page-main-profile-pic"
                  style="
                    background: url(./static/img/th4.jpg);
                    background-size: cover;
                  "
                ></div>
                <!-- 2 -->
                <div class="your-channel-page-main-channel-name">
                  Channel Name
                  <span
                    >90K&nbsp;&nbsp;Followers&nbsp;&nbsp;&nbsp;150&nbsp;&nbsp;Videos</span
                  >
                  <div class="your-channel-page-main-btns">
                    <a class="createbutton" href="uploadvideo">Create</a>

                    <button
                      type="button"
                      class="your-channel-page-main-share-btn"
                    >
                      Share
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Watch history page -->
        <div class="watch-history-page">
          <h2>
            Watch History &nbsp;<span
              ><i class="ri-delete-bin-line"></i>&nbsp;Clear all watch
              history</span
            >
          </h2>
          <div class="videos-and-watch-dates">
            <!-- <div class="watched-date">Today</div>
            <div class="watched-videos"></div> -->
          </div>
        </div>
      </div>
    </main>

    <!-- SCRIPTS/JS -->
    <script src="./static/js/main.js"></script>
    <script src="./static/js/video-player.js"></script>

    <script>
      document.addEventListener("DOMContentLoaded", function (event) {
        if (localStorage.getItem("m-bg") == "#E4E4E4") {
          switchToLight();
        } else if (localStorage.getItem("m-bg") == "#0F0F0F") {
          switchToDark();
        }

        sessionStorage.getItem("m-bg");
        let changePage = sessionStorage.getItem("changePage");
        if (changePage == "gotoHomePage()") {
          gotoHomePage();
        } else if (changePage == "gotoVideoPlayer()") {
          gotoVideoPlayer();
          video.setAttribute(
            "src",
            `${sessionStorage.getItem("videoPlayerVideoSrc")}`
          );
          document.querySelector(
            ".playing-video-title"
          ).innerText = `${sessionStorage.getItem("videoPlayerTitle")}`;
          document
            .querySelector(".left-playing-video-info .profile-pic")
            .setAttribute(
              "style",
              `background: url(${sessionStorage.getItem(
                "videoPlayerVideoPoster"
              )});background-size: cover;`
            );
          video.setAttribute(
            "poster",
            `${sessionStorage.getItem("videoPlayerVideoPoster")}`
          );
        } else if (changePage == "gotoShortVideoPlayer()") {
          gotoShortVideoPlayer();
          setTimeout(() => {
            document
              .querySelector(".sv-play-pause-btn")
              .setAttribute("class", "ri-play-fill sv-play-pause-btn");
            document.querySelector(".sv-play-pause-btn").style.opacity = 1;
          }, 500);
        } else if (changePage == "gotoFollowingPage()") {
          gotoFollowingPage();
        } else if (changePage == "goToYourChannel()") {
          goToYourChannel();
        } else if (changePage == "goToWatchHistory()") {
          goToWatchHistory();
        }
      });
    </script>
    <script src="./static/js/pre-loader.js"></script>
  </body>
</html>
