<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="Sign in style.css"
  <form action="action_page.php" style="border: 1px solid #ccc">
    <div class="container">
      <h1>Welcome to I-tube</h1>
      <p>Log-in Page</p>
      <hr />

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required />

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required />
      

      <label>
        <input
          type="checkbox"
          checked="checked"
          name="remember"
          style="margin-bottom: 15px"
        />
        Remember me
      </label>

      <div class="clearfix">
        <button type="button" class="cancelbtn">Cancel</button>
        <a type="submit" href="signuppage" class="signupbtn">Sign Up</a>
      </div>
    </div>
  </form>
</head>
