<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Uploaded Videos</title>
    <style>
      .upload-link {
        position: absolute;
        top: 10px;
        right: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Uploaded Videos</h1>
    <ul>
      {% for video in uploaded_videos %}
      <li>
        <video width="320" height="240" controls>
          <source
            src="{{ url_for('video', video_id=video.filename) }}"
            type="video/mp4"
          />
          Your browser does not support the video tag.
        </video>
      </li>
      {% endfor %}
    </ul>
    <a href="/uploadvideo" class="upload-link">Upload Another Video</a>
  </body>
</html>
<!--Date: 14/04/2024, by- S.R. -->
