@media (max-width: 1800px) {
    .contents {
      grid-template-columns: repeat(4, 1fr);
    }
    .following-page .following-channel-contents {
      grid-template-columns: repeat(3, 1fr);
    }
    .following-page .following-channel-bannar-profile {
      grid-area: 1/1/3/4;
    }
    .your-channel-page .your-channel-contents {
      grid-template-columns: repeat(4, 1fr);
    }
    .your-channel-page .your-channel-bannar-profile {
      grid-area: 1/1/3/5;
    }
    .videos-and-watch-dates .watched-videos{
      grid-template-columns: repeat(4 ,1fr);
    }
  }